*.md linguist-language=Rust
*.yml linguist-language=Rust
*.toml linguist-language=Rust
*.xml linguist-language=Rust
*.lock linguist-language=Rust
*.json linguist-language=Rust
*.cmd linguist-language=Rust